{% extends "layout.html" %}
{% block content %}

<div class="container">
  <div class="jumbotron">
      <h1>Overview</h1>
      <p>Whats up!</p>
      <p>Great stuff is happening. This site is coming along!</p>
  </div>
</div>
<div class="container" >

  <div class="card">
    <div class="card-body">
      <h1 class="card-title">Books</h2>
      <h2>Currently Reading</h2>
      <ul>
        <li>Book 1</li>
        <li>book 2</li>
      </ul>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <h1>Health</h1>
      <p>You don't have anything if you don't have your health. So they say.</p>
    </div>
  </div>
</div>
{% endblock %}
